<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles_dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- ******NAVBAR******* -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="logo1.png" width="50px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guidelines">Guidelines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            
          </ul>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
          </ul>
         
        </div>
      </nav>

      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><br></span></p>
      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><strong><span style="font-size: 36px; text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 2px;">Contact</span></strong></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">The office will open on the 1st, 3rd and 4th Saturday of the month till 1330 hrs. The office will remain closed on the 2nd Saturday, Sundays and Public Holidays of the month</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">During office hours i.e 0930 to 1800 hrs (Monday to Friday) &amp; 0930 TO 1330 (Saturday except 2nd Saturday). You can each our 24 x 7 call centre also @ 0124-4797300 &amp; 0124- 6838410 for any queries pertains to lost article</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">You can call us @ 011-42489616 &amp; 01142489617</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Lost at Terminal 2 : 9667400962 &amp; 9599418887</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">You can call our Terminal 2 team @ 9667400962 &amp; 9599418887 (24 x 7 Operational)</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">You can call our Terminal 3 team @ 9958098651, 9667256222 &amp; 9560799574 (24X7 Operational)</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);"><br></span></p>
      <p style="margin-left: 20px;"><span style="font-size: 36px; color: rgb(255, 255, 255);"><strong><span style="text-shadow: 3px 3px 2px rgba(136, 136, 136, 0.8);">Contact Information</span></strong></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">If the article/articles lost is less than 5 days old, contact the below numbers available 24 x 7 for the respective terminals:</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Lost at Terminal-3: 9958098651</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">During office hours, contact the below mentioned numbers.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Contact no. 011 - 42489616 / 011 - 42489617</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Email ID: <a href="mailto:lostproperty.dial@gmrgroup.in">lostproperty.dial@gmrgroup.in</a></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);"><br></span></p>
      <p style="margin-left: 20px;"><span style="font-size: 36px; text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 2px; color: rgb(255, 255, 255);"><strong>Mailing Address</strong></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Lost Property Main Office</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Terminal-2</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Departure Level Near Gate No. 01</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Domestic Indira Gandhi International Airport</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">New Delhi 110037</span></p>
      <p><br></p> 
      
</body>
</html>