<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guidelines</title>
    <link rel="stylesheet" href="styles_dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- ******NAVBAR******* -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="logo1.png" width="50px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/guidelines">Guidelines<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            
          </ul>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
              </li>
          </ul>
         
        </div>
      </nav>

      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><br></span></p>
      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><strong><span style="font-size: 36px; text-shadow: rgba(136, 136, 136, 0.8) 3px 3px 2px;">PROCEDURE FOR CLAIMING LOST ITEMS</span></strong></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">The lost article / articles may be claimed on producing the following documents :-</span></p>
      <ul style="margin-left: 40px ">
          <li style="color: rgb(255, 255, 255);">Copy of Boarding Card.</li>
          <li style="color: rgb(255, 255, 255);">Copy of Passport / ID card issued by any Government Unit.</li>
          <li style="color: rgb(255, 255, 255);">Details of the items being claimed.</li>
          <li style="color: rgb(255, 255, 255);">An authorization letter to be filled and signed by the owner with details of the items being claimed.</li>
          <li style="color: rgb(255, 255, 255);">Government authorized photo id preferably Passport / Driving License / Aadhaar Card / Voter card.</li>
      </ul>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Photo -I card of the person who has been authorized to collect the article / articles. The Authorization may be in the name of the individual, Courier Service provider or Airlines.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Lost and found items are deposited at T3 , T-1 and T-2 ( LP section may be claimed from respective terminal itself within 05 days from the date / time of deposit in that section. If any Lost and found item is required to be collected after working hours (i.e 1730 hrs), please fix an appointment with lostproperty.dial@gmrgroup.in 24 hrs in advance.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">All unclaimed &quot;lost and found&quot; merchandise will be retained for a period of 3 months, after which it is auctioned for a good cause.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Perishable, flammable &amp; DGR goods will not be kept for claim in lost &amp; found section. If Unclaimed food items and flammable goods if found will be disposed off within 12 hours.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">NOTE:- The &quot;lost&quot; article / articles must be claimed within 90 (ninety) days from the date it is found and deposited at the Lost and Found section. On expiry of 90 days, it is disposed off as per company policy. Thereafter, the lost property department shall cease to entertain any claims upon the article thereon.</span></p>
      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><br></span></p>
      <p style="margin-left: 20px;"><span style="color: rgb(255, 255, 255);"><strong>DEFINITION OF LOST PROPERTY</strong></span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">Lost property means any property which while not in proper custody, is found within the premises of the Airport.</span></p>
      <p style="margin-left: 40px;"><span style="color: rgb(255, 255, 255);">NOTE : For any checked-in baggage / mishandled baggage or items left in customer arrival area, the concerned airline should be contacted.</span></p>
    </body>
</html>